* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand {
  font-weight: bold;
  font-size: 35px;
  font-style: italic;
  color: rgb(53, 51, 51) !important;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 10px 2px rgba(0, 0, 0, 0.1), 0px 24px 20px rgba(0, 0, 0, 0.1);
}

body {
  width: 100vw;
}

/* search */

#form > .form-control:focus,
.btn:focus {
  box-shadow: none !important;
}
#signInMenu {
  display: inline-block;
}
#form input {
  min-width: 400px !important;
}
@media only screen and (max-width: 600px) {
    #form {
      margin-bottom: 10px;
    }
  }
/* sign in */

.fa-user-circle {
  font-size: 40px;
}

#signOut {
  margin-right: 50px !important;
}

.dropdown-menu {
  min-width: 100px !important;
}

/* cart */

#cart {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

#cart .fa-opencart {
  position: relative;
  color: rgb(255, 17, 0);
  font-size: 40px !important;
}

.cartImg {
  width: 100px;
  height: 100px;
  object-fit: contain !important;
}

/* cart img */

.card-img-top {
  width: 240px !important;
  height: 240px !important;
  object-fit: contain !important;
}

.fs8 {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.badge {
  position: absolute;
  color: rgb(255, 17, 0);
  top: 30%;
  left: 15%;
  font-size: 13px !important;
}

.filterRS {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.filterRS p {
  border: 1px solid rgb(201, 201, 201);
  margin-bottom: 0;
  padding-top: 5px;
  width: 200px;
  height: 40px;
  text-align: center;
  margin-right: 10px;
  border-radius: 3px;
}

.filterRS p:nth-child(1) {
  border: 1px solid rgb(0, 162, 255);
}
